<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Результаты для {{ query }}</title>
    <script type="text/javascript">
        // check device
        if (screen.width < 400 && screen.height < 400)
            window.location = window.location.href.replace('.az', '.az/m1').replace(':8000/', ':8000/m1');
        else if (screen.width < 1000 && screen.height < 700)
            window.location = window.location.href.replace('.az', '.az/m').replace(':8000/', ':8000/m');
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}imageflow/imageflow.packed.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}imageflow/imageflow.packed.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main_1.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        {% include "calendar.js" %}
    </script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<div id="top-bar">
    <a href="/" id="calendar-icon"></a>
    <div class="year-month">
        <div id="year-up" onmousedown="yearUp()"></div>
        <div class="year-month-container">
            <div id="years"></div>
        </div>
        <div id="year-down" onmousedown="yearDown()"></div>
    </div>
    <div class="year-month">
        <div id="month-up" onmousedown="monthUp()"></div>
        <div class="year-month-container">
            <div id="months">Декабрь<br />Ноябрь<br />Октябрь<br />Сентябрь<br />Август<br />Июль<br />Июнь<br />Май<br />Апрель<br />Март<br />Февраль<br />Январь</div>
        </div>
        <div id="month-down" onmousedown="monthDown()"></div>
    </div>
    <div id="days"></div>
    <div id="search">
        <form method="get" action="/search.html">
            <input name="q" type="text" value="{{ query }}" />
            <a href="javascript():" onclick="document.getElementById('search-form').submit(); return false;"></a>
        </form>
    </div>
</div>

{% if list %}
    <div id="myImageFlow" class="imageflow">
        {% for page in list %}
            <img src="{{ page.screenshot.url }}" longdesc="{{ page.pdf.url }}" width="{{ page.screenshot.width }}" height="{{ page.screenshot.height }}" alt="{{ page.edition.date|date:"j F Y" }}, страница {{ page.number }}" />
        {% endfor %}
    </div>
{% else %}
    <div id="empty-box">
    {{ query }} не найдено.
    </div>
{% endif %}

<table id="copyright">
    <tr>
        <td>
            <img src="{{ STATIC_URL }}img/logo.gif" width="70" height="27" alt="zerkalo.az" />
        </td>
        <td>&copy; {% now "Y" %}</td>
    </tr>
</table>
</body>
</html>
