{% comment %} for advanced mobile browsers, see middleware {% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Результаты для {{ query }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}imageflow/imageflow.packed.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}imageflow/imageflow.packed.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main_2.css" type="text/css" />
    <script src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript">
        {% include "calendar.js" %}
    </script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<div id="search">
    <form method="get" action="/search.html">
        <input name="q" type="text" value="{{ query }}" />
        <a href="javascript():" onclick="document.getElementById('search-form').submit(); return false;"></a>
    </form>
</div>
<div id="top-bar">
    <a href="/" id="calendar-icon"></a>
    <input type="text" id="day" maxlength="2" value="{{ edition.date|date:"j" }}" />
    <select id="month">
        {% comment %}Javascript way didn't work! {% endcomment %}
        <option value="1"{% ifequal month "01" %} selected="selected"{% endifequal %}>Январь</option>
        <option value="2"{% ifequal month "02" %} selected="selected"{% endifequal %}>Февраль</option>
        <option value="3"{% ifequal month "03" %} selected="selected"{% endifequal %}>Март</option>
        <option value="4"{% ifequal month "04" %} selected="selected"{% endifequal %}>Апрель</option>
        <option value="5"{% ifequal month "05" %} selected="selected"{% endifequal %}>Май</option>
        <option value="6"{% ifequal month "06" %} selected="selected"{% endifequal %}>Июнь</option>
        <option value="7"{% ifequal month "07" %} selected="selected"{% endifequal %}>Июль</option>
        <option value="8"{% ifequal month "08" %} selected="selected"{% endifequal %}>Август</option>
        <option value="9"{% ifequal month "09" %} selected="selected"{% endifequal %}>Сентябрь</option>
        <option value="10"{% ifequal month "10" %} selected="selected"{% endifequal %}>Октябрь</option>
        <option value="11"{% ifequal month "11" %} selected="selected"{% endifequal %}>Ноябрь</option>
        <option value="12"{% ifequal month "12" %} selected="selected"{% endifequal %}>Декабрь</option>
    </select>
    <select id="year">
        {% comment %}Javascript way didn't work! {% endcomment %}
        <option value="2009"{% ifequal year "2009" %} selected="selected"{% endifequal %}>2009</option>
        <option value="2010"{% ifequal year "2010" %} selected="selected"{% endifequal %}>2010</option>
        <option value="2011"{% ifequal year "2011" %} selected="selected"{% endifequal %}>2011</option>
    </select>
    <input type="button" value="->" onclick="goTo()" />
    <script type="text/javascript">
        function goTo() {
            // go to date
            var day = document.getElementById("day").value;
            if (day == null)
                return;
            day = pad(day);
            var month = document.getElementById("month").value;
            month = pad(month);
            var year = document.getElementById("year").value;
            
            if (year < 2011)
                window.location = "http://zerkalo.az/" + year + "-" + month + "-" + day;
            else if (year == 2011 && parseInt(month) < 7)
                window.location = "http://zerkalo.az/" + year + "-" + month + "-" + day;
            else if (year == 2011 && parseInt(month) == 7 && parseInt(day) < 20)
                window.location = "http://zerkalo.az/" + year + "-" + month + "-" + day;
            else
                window.location = "/" + year + "-" + month + "-" + day;
        }
        
        function pad(num) {
            if (num.toString().length == 1)
                num = '0' + num;
            
            return num;
        }
    </script>
</div>

{% if list %}
    <div id="myImageFlow" class="imageflow">
        {% for page in list %}
            <img src="{{ page.screenshot.url }}" longdesc="{{ page.pdf.url }}" width="{{ page.screenshot.width }}" height="{{ page.screenshot.height }}" alt="{{ page.edition.date|date:"j F Y" }}, страница {{ page.number }}" />
        {% endfor %}
    </div>
{% else %}
    <div style="text-align: center; color: white; font-size: 14pt;">
    {{ query }} не найдено.
    </div>
{% endif %}

<table id="copyright">
    <tr>
        <td>
            <img src="{{ STATIC_URL }}img/logo.gif" width="70" height="27" alt="zerkalo.az" />
        </td>
        <td>&copy; {{ year }}</td>
    </tr>
</table>
</body>
</html>