{% comment %} for desktop browsers, see middleware {% endcomment %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ edition.date|date:"j F Y" }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}imageflow/imageflow.packed.css" type="text/css" />
    <script type="text/javascript">
        {% include "imageflow.js" %}
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main_1.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        {% include "calendar.js" %}
    </script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<div id="top-bar">
    <a href="/" id="calendar-icon"></a>
    <div class="year-month">
        <div id="year-up" onmousedown="yearUp()"></div>
        <div class="year-month-container">
            <div id="years"></div>
        </div>
        <div id="year-down" onmousedown="yearDown()"></div>
    </div>
    <div class="year-month">
        <div id="month-up" onmousedown="monthUp()"></div>
        <div class="year-month-container">
            <div id="months">Декабрь<br />Ноябрь<br />Октябрь<br />Сентябрь<br />Август<br />Июль<br />Июнь<br />Май<br />Апрель<br />Март<br />Февраль<br />Январь</div>
        </div>
        <div id="month-down" onmousedown="monthDown()"></div>
    </div>
    <div id="days"></div>
    <div id="search">
        <form method="get" action="/search.html" id="search-form">
            <input name="q" type="text" value="{{ query }}" />
            <a href="javascript():" onclick="document.getElementById('search-form').submit(); return false;"></a>
        </form>
    </div>
</div>

<div id="myImageFlow" class="imageflow">
{% for page in edition.page_set.all %}
    <img src="{{ page.screenshot.url }}" longdesc="{{ page.pdf.url }}" width="{{ page.screenshot.width }}" height="{{ page.screenshot.height }}" alt="" />
{% endfor %}
</div>
<div id="chapterList">
{% for chapter in edition.chapter_set.all %}
    <input type="button" value="{{ chapter.name }}" id="jump{{ forloop.counter }}" />
{% endfor %}
    <a href="{{ edition.pdf.url }}" id="full-link">Прочесть PDF в полном формате</a>
</div>
<table id="copyright">
    <tr>
        <td>
            <img src="{{ STATIC_URL }}img/logo.gif" width="70" height="27" alt="zerkalo.az" />
        </td>
        <td>&copy; {% now "Y" %}</td>
    </tr>
</table>
</body>
</html>
