body {
    background: #68a2c3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma;
}

#search {
    float: right;
    clear: both;
    margin-right: 2px;
    margin-top: 2px;
}

#search input {
    background: url(../img/search.gif) no-repeat;
    border: none;
    width: 108px;
    padding-right: 20px;
    height: 16px;
}

#search a, #search a:link {
    width: 18px;
    height: 16px;
    display: block;
    float: right;
    margin-left: -18px;
    position: relative;
}

#top-bar {
    width: 100%;
    height: 39px;
    background: #fff;
    color: #68a2c3;
    font-size: 10pt;
    background: url(../img/top-bar.gif);
    margin-bottom: 20px;
    clear: both;
}

#top-bar #calendar-icon {
    width: 32px;
    height: 34px;
    margin-top: 2px;
    margin-left: 2px;
    float: left;
    background: url(../img/calendar-icon.gif);
    display: block;
}

#day {
    width: 30px;
    margin-left: 5px;
}

#day, #month, #year {
    margin-top: 10px;
}

#chapterList {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    margin: auto;
    margin-top: -40px;
    bottom: 70px;
}

#chapterList input {
    border: none;
    background: none;
    color: #fff;
    font-size: 13pt;
    cursor: pointer;
}

#chapterList input:hover {
    text-decoration: underline;
}

#full-link {
    color: #fff;
    text-decoration: none;
    clear: both;
    display: block;
}

#full-link:hover {
    text-decoration: underline;
}

#copyright {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 8pt;
    left: 15px;
    bottom: 10px;
}