body {
    background: #68a2c3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma;
}

#top-bar {
    width: 100%;
    height: 39px;
    background: #fff;
    color: #68a2c3;
    font-size: 10pt;
    background: url(../img/top-bar.gif);
    margin-top: 25px;
    margin-bottom: 20px;
}

#top-bar #calendar-icon {
    width: 32px;
    height: 34px;
    margin-top: 2px;
    margin-left: 18px;
    float: left;
    background: url(../img/calendar-icon.gif);
    display: block;
}

.year-month {
    float: left;
    width: 75px;
    height: 39px;
    text-align: center;
}

.year-month .year-month-container {
    overflow: hidden;
    height: 16px;
}

.year-month #year-up, .year-month #month-up,
.year-month #year-down, .year-month #month-down {
    width: 12px;
    height: 11px;
    cursor: pointer;
    margin: 0 auto;
}

.year-month #year-up, .year-month #month-up {
    background: url(../img/date-up.gif) no-repeat;
}

.year-month #year-down, .year-month #month-down {
    margin-top: 1px;
    background: url(../img/date-down.gif) no-repeat;
}

#days a, #days a:link {
    color: #68a2c3;
    text-decoration: none;
    display: block;
    float: left;
    width: 25px;
    height: 28px;
    padding-top: 11px;
    text-align: center;
}

#days a:hover, #days a.current {
    background: url(../img/down-up.gif) no-repeat center;
}

#search {
    float: right;
    margin-top: 12px;
    margin-right: 26px;
    width: 146px;
}

#search input {
    background: url(../img/search.gif) no-repeat;
    border: none;
    width: 108px;
    padding-right: 20px;
    height: 16px;
}

#search a, #search a:link {
    width: 18px;
    height: 16px;
    display: block;
    float: right;
    margin-left: -18px;
    position: relative;
}

#chapterList {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    margin: auto;
    margin-top: -40px;
    bottom: 70px;
}

#chapterList input {
    border: none;
    background: none;
    color: #fff;
    font-size: 13pt;
    cursor: pointer;
}

#chapterList input:hover {
    text-decoration: underline;
}

#full-link {
    color: #fff;
    text-decoration: none;
    clear: both;
}

#full-link:hover {
    text-decoration: underline;
}

#share {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 8pt;
    left: 15px;
    bottom: 10px;
    width: 200px;
}

#copyright {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 8pt;
    right: 0;
    bottom: 10px;
    width: 140px;
}

#empty-box {
    text-align: center;
    color: white;
    font-size: 14pt;
}

#empty-box a, #empty-box a:link {
    color: white;
    text-decoration: none;
}

#empty-box a:hover {
    text-decoration: underline;
}