body {
    background: #68a2c3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma;
}

#top-bar {
    width: 100%;
    height: 39px;
    background: #fff;
    color: #68a2c3;
    font-size: 10pt;
    background: url(../img/top-bar.gif);
    margin-bottom: 20px;
    clear: both;
}

#top-bar #calendar-icon {
    width: 32px;
    height: 34px;
    margin-top: 2px;
    margin-left: 2px;
    float: left;
    background: url(../img/calendar-icon.gif);
    display: block;
}

#day {
    width: 30px;
    margin-left: 5px;
}

#day, #month, #year {
    margin-top: 10px;
}

#copyright {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 8pt;
    left: 15px;
    bottom: 10px;
}